@charset "UTF-8";

* {
	box-sizing: border-box;
}

.colorful {
	max-width: 280px;
	max-height: 300px;

	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-rows: 1fr 20px;
	margin: 20px;
}

.saturation {
	position: relative;
	width: 100%;
	height: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.hue {
	position: relative;
	width: 100%;
	height: 20px;
	background: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

	cursor: pointer;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.saturation > .saturation_pointer,
.hue > .hue_pointer {
	position: absolute;
	top: -2px;
	height: 24px;
	width: 24px;

	border: 1px solid #ffffff;
	border-radius: 50%;

	overflow: hidden;
	z-index: 99;
	/* pointer-events: none; */
}

.saturation > .saturation_pointer > .saturation_pointer_fill,
.hue > .hue_pointer > .hue_pointer_fill {
	position: relative;
	top: -2px;
	left: -2px;
	width: 24px;
	height: 24px;
}
